<mat-card class="card">
  <mat-card-title>{{'Single rate' | translate}}</mat-card-title>
  <mat-card-content class="content">
    <form [formGroup]="form">
      <mat-form-field>
        <input matInput
               [matDatepicker]="dateTime"
               [placeholder]="'Date' | translate"
               [max]="maxDate"
               formControlName="date">
        <mat-datepicker-toggle matPrefix
                               [for]="dateTime"></mat-datepicker-toggle>
        <mat-datepicker #dateTime></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="currencyFrom" matInput [placeholder]="'Currency from' | translate"
               [matAutocomplete]="autoCurrency">
        <span (click)="clearFrom()" class="clickable" matSuffix><mat-icon>close</mat-icon></span>
        <mat-autocomplete #autoCurrency="matAutocomplete">
          <mat-option *ngFor="let currency of filteredCurrencyFrom$ | async" [value]="currency">
            <span>{{ currency }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="currencyTo" matInput [placeholder]="'Currency to' | translate"
               [matAutocomplete]="autoCurrencyTo">
        <span (click)="clearTo()" class="clickable" matSuffix><mat-icon>close</mat-icon></span>
        <mat-autocomplete #autoCurrencyTo="matAutocomplete">
          <mat-option *ngFor="let currency of filteredCurrencyTo$ | async" [value]="currency">
            <span>{{ currency }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <button mat-raised-button (click)="swap()" color="primary">{{'Swap' | translate}}</button>
    <div class="rate" *ngIf="form.valid">{{currentRate$ | async | exchange: form.get('currencyFrom').value : form.get('currencyTo').value}}</div>
  </mat-card-content>
</mat-card>
