.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  form {
    width: 100%;
    max-width: 670px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 16px;
  }
  .rate {
    font-weight: bold;
    font-size: 18px;
    flex: 1 1;
    text-align: right;
    min-width: 200px;
  }
  button {
    margin-bottom: 1em;
  }
  mat-form-field {
    margin-right: 16px;
  }
}

mat-card {
  margin-bottom: 24px;
}
