@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "component-base";

body {
  margin: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background: rgba(0,0,0, .03);
  min-width: 380px;
}

.clickable {
  cursor: pointer;
}

mat-form-field {
  flex: 1 1;
}
