<mat-card>
  <mat-card-title class="title">{{'Rates table' | translate}}
    <div class="controls">
      <mat-form-field>
        <input matInput
               [matDatepicker]="dateTime"
               [placeholder]="'Date' | translate"
               [max]="maxDate"
               [formControl]="dateTimeControl">
        <mat-datepicker-toggle matPrefix
                               [for]="dateTime"></mat-datepicker-toggle>
        <mat-datepicker #dateTime></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input (keyup)="applyFilter($event.target.value)"
               [placeholder]="'Search' | translate"
               matInput
               type="text"/>
      </mat-form-field>
    </div>
  </mat-card-title>
  <mat-card-content>
    <div class="course">
      <mat-spinner class="spinner" *ngIf="isLoading$ | async"></mat-spinner>
      <mat-table [dataSource]="dataSource"
                 matSort
                 matSortActive="created"
                 matSortDisableClear
                 matSortDirection="asc"
                 [ngStyle]="{'filter': (isLoading$ | async) ? 'blur(5px)' : 'none'}">
        <ng-container matColumnDef="currencyFrom">
          <mat-header-cell mat-sort-header *matHeaderCellDef>{{'Currency from' | translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{row.currencyFrom}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="currencyTo">
          <mat-header-cell mat-sort-header *matHeaderCellDef>{{'Currency to' | translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{row.currencyTo}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="rate">
          <mat-header-cell mat-sort-header *matHeaderCellDef class="rate">{{'Rate' | translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="rate">
            {{row.rate | exchange: row.currencyFrom : row.currencyTo}}
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="pageSizeOptions"
                     [pageSize]="pageSize">
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
