.rate {
  display: flex;
  justify-content: flex-end;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls {
  font-size: 16px;
  mat-form-field {
    margin-left: 16px;
  }
}

.spinner {
  position: absolute;
  z-index: 100;
  left: 50%;
  top: 40%;
}
